:root {
  --grey: #757575;
  --black: #212121;
  --blue: #2196f3;
  --white: #f5f5f5;
  --dark-grey: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  height: 581px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgb(117, 117, 117);
  padding: 40px;
}

.form {
  width: 448px;
  height: 342px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field input {
  margin: 0;
  padding: 11px 30px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-field input:focus,
.form-field input:focus + .icon-modal {
  border-color: #2196f3;
  fill: #2196f3;
}

.form-input {
  width: 100%;
}

.form-field label {
  margin-bottom: 4px;
}

.form-input:focus {
  color: #2196f3;
}

.comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
}

.comment:focus {
  border-color: #2196f3;
}

.policy {
  margin-top: 20px;
}

.checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  position: absolute;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 7px;
}

.checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background-color: rgb(33, 150, 243);
  background-image: url(../images/Vector\ \(6\).svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
}

.icon-modal {
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 11px;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.btn-send {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

.btn-send-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-input {
  position: relative;
}

.title-modal {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(33, 33, 33);
  margin-left: 40px;
  margin-right: 40px;
}

.btn-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: #212121;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: var(--blue);
}

.icon-close {
  width: 11px;
  height: 11px;
  background-image: url(../images/Vector\ \(2\).svg);
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  color: var(--white);
  background-color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  color: #2196f3;
  background-color: #2f303a;
}

.button-a {
  color: var(--black);
  background-color: #f5f4fa;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-a:hover,
.button-a:focus {
  color: var(--white);
  background-color: var(--blue);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
}

.logo {
  color: var(--black);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.logo-color {
  color: var(--blue);
}

.logo:hover,
.logo:focus {
  color: yellow;
}

.logo:hover .logo-color,
.logo:focus .logo-color {
  color: yellow;
}

.logo-1 {
  color: var(--white);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-color-1 {
  color: var(--blue);
}

.nav {
  color: var(--grey);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover,
.nav:focus {
  color: var(--blue);
}

.icon {
  width: 16px;
  height: 12px;
  fill: #757575;
}

.item {
  position: relative;
}

.item:hover .icon {
  fill: var(--blue);
}

.phone {
  color: var(--grey);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover,
.phone:focus {
  color: var(--blue);
}

.border-header {
  border-bottom: 1px solid #ececec;
}

.border-portfolio {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav li:hover > a,
.site-nav li:focus > a {
  color: var(--blue);
}

.site-nav .link {
  color: var(--blue);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue);
}

.current-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
}

.item > .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item > .link:hover::after {
  opacity: 1;
}

.hero {
  color: var(--white);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-list {
  padding: 200px 15px;
}

.hero-title {
  margin-bottom: 30px;
}

.clients-wrapper {
  padding: 94px 0;
}

.clients {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.client-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: rgb(175, 177, 184);
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid rgb(175, 177, 184);
  margin-right: 30px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-box:last-child {
  margin: 0;
}

.client-box:hover,
.client-box:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-logo {
  width: 106px;
  height: 60px;
}

.footer-block {
  margin-right: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  color: var(--white);
  padding-top: 60px;
  padding-bottom: 60px;
}

.social-links-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  width: 44px;
  height: 44px;
  margin-right: 9px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer:last-child {
  margin: 0;
}

.social-links-footer:hover,
.social-links-footer:focus {
  color: rgb(255, 255, 255);
  background-color: var(--blue);
}

.street {
  margin-bottom: 12px;
}

.mail {
  margin-bottom: 12px;
  color: #757575;
}

.tel {
  color: #757575;
}

.address {
  margin-top: 28px;
}

.bcg-footer {
  background-color: var(--dark-grey);
}

.mailing {
  display: inline-block;
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.input-footer {
  width: 358px;
  height: 50px;
  background-color: rgb(47, 48, 58);
  padding: 15px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--white);
}

.label-footer {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.btn-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  margin-left: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

.btn-footer:hover,
.btn-footer:focus {
  color: var(--dark-grey);
  fill: #2196f3;
}

.btn-footer::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon\ telegram.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--blue);
  margin-left: 10px;
  margin-right: 28px;
}

.product-wrapper {
  padding: 94px 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.active-link-wrapper {
  position: relative;
  overflow: hidden;
}

.active-link-wrapper:hover .active-link {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.active-link {
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.flex-element:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.flex-element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.name-box {
  color: var(--black);
  font-weight: 800;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}

.filtrs {
  color: var(--grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 3%;
}

.item-box {
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.item-box:last-child {
  margin-right: 0;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  margin-right: 10px;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:last-child {
  margin: 0;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.icon-links {
  width: 20px;
  height: 20px;
}

.social-links:hover,
.social-links:focus {
  fill: var(--white);
  background-color: var(--blue);
}

.section-list {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  padding-top: 94px;
  padding-bottom: 50px;
}

.team-wrapper {
  padding: 30px 32px;
}

.text {
  color: var(--grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.name {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.profession {
  color: var(--grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.command {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.command .item {
  margin-right: 30px;
}

.command .item:last-child {
  margin-right: 0;
}

.clients-wrapper {
  padding: 94px 0;
}

.clients {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.client-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: rgb(175, 177, 184);
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid rgb(175, 177, 184);
  margin-right: 30px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-box:last-child {
  margin: 0;
}

.client-box:hover,
.client-box:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-logo {
  width: 106px;
  height: 60px;
}

.list-item::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.works {
  margin-right: 30px;
}

.works:last-child {
  margin-right: 0;
}

.icon-antenna::before {
  background-image: url(../images/antenna\ 1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock\ 1.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram\ 1.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut\ 1.svg);
}

.link {
  color: var(--black);
  text-decoration: none;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts .item {
  margin-right: 40px;
}

.contacts .item:last-child {
  margin-right: 0;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 94px 0;
}

.section-title {
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.section-work {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.work-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-actions {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
}

.product-name {
  position: relative;
}

.work-list .item {
  margin-right: 30px;
  padding-bottom: 94px;
}

.work-list .item:last-child {
  margin-right: 0;
}

.bcg-section {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.icon-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-title {
  padding: 20px 24px;
}

.name-box {
  margin-bottom: 4px;
}

.overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img-hero(1).jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-hero(1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */